# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# IDE
.vscode

# Testing
.nyc_output
coverage

# build artifacts
dist
.dist

# OS
.DS_Store

assets/portal/build
assets/portal/node_modules
assets/portal/.env*
!assets/portal/.env

# Taskcat
.taskcat/
taskcat_outputs/
